  {% extends "BibliotecaWebApp/base.html" %}

  {%load static %}

  {% block content %}
   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'BibliotecaWebApp/img/biblioteca.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <!--<span class="section-heading-upper">Puntualidad</span>-->
            <span class="section-heading-lower">Umberto Eco</span>
          </h2>
          <p class="mb-3">“Los libros se respetan usándolos, no dejándolos en paz”.
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <!--<span class="section-heading-upper">Portal para los amantes de la lectura</span>-->
                <span class="section-heading-lower">Portal para los amantes de la lectura</span>
              </h2>
              <p class="mb-0">Información sobre escritores y sus novelas mas representativas.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}

